
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dataShow{
width: 60%;
background-color: red;
float: left;
margin:20px;
}
.Cart{
 
  float:left;
  margin-left:50px;
}